**/.DS_Store
**/node_modules
**/package-lock.json
**/*.swp
src/blockchain/build
documentation/main.log
documentation/main.synctex.gz
documentation/main.pdf

src/middleware/benchmarking/
!src/middleware/benchmarking/bencharking.js