**/.DS_Store
**/node_modules
**/package-lock.json
**/*.swp
src/blockchain/build
**/__pycache__
**/output

documentation/*
!documentation/main.tex
!documentation/chapters/
!documentation/sample.bib
!documentation/frog.jpg
!documentation/images/

src/middleware/benchmarking/
!src/middleware/benchmarking/benchmarking.js
