**/.DS_Store
**/node_modules
**/package-lock.json
**/*.swp
src/blockchain/build

documentation/*
!documentation/main.tex
!documentation/sections/
!documentation/sample.bib
!documentation/frog.jpg
!documentation/images/

src/middleware/benchmarking/
!src/middleware/benchmarking/bencharking.js
